 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 .main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    color:hsl(193, 38%, 86%);
 }

 .container {
    width: 500px;
    background-color: hsl(217, 19%, 24%);
    border-radius: 8px;
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 6rem;
 }

 .p {
    text-transform: uppercase;
    color: hsl(150, 100%, 66%);
    letter-spacing: 4px;
    font-size: 12px;
 }

 #data {
    font-size: 1.5rem;
    color: hsl(193, 38%, 86%);
 }

 .circle {
    margin-bottom: -55px;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: hsl(150, 100%, 66%);
    cursor: pointer;
 }

 .circle:hover {
    box-shadow: 0 0 20px hsl(150, 100%, 66%);
 }

 .mob {
    display: none;
 }

 .desc {
    display: flex;
 }

 @media only screen and (max-device-width: 812px)  { 
    body {
        background-color: hsl(218, 23%, 16%);
    }
    .main {
        height: 100vh;
        width: 100%;
    }
    .container {
        width: 95%;
    }
    .desc {
        display: none;
    }
    .mob {
        display: flex;
    }
 }